<div class="col-lg-6 col-md-6 col-sm-12">
    {% load static %}
    <div class="property-listing property-2">
        
        <div class="listing-img-wrapper">
            <div class="list-img-slide">
                <div class="clicks">
                    <div><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></div>
                </div>
            </div>
        </div>
        
        <div class="listing-detail-wrapper">
            <div class="listing-short-detail-wrap">
                <div class="listing-short-detail">
                    <span class="property-type">For Rent</span>
                    <h4 class="listing-name verified"><a href="/detail-propriete/" class="prt-link-detail">Banyon Tree Realty</a></h4>
                </div>
                <div class="listing-short-detail-flex">
                    <h6 class="listing-card-info-price">$7,000</h6>
                </div>
            </div>
        </div>
        
        <div class="price-features-wrapper">
            <div class="list-fx-features">
                <div class="listing-card-info-icon">
                    <div class="inc-fleat-icon"><img src="{% static 'img/bed.svg' %}" width="13" alt="" /></div>3 Beds
                </div>
                <div class="listing-card-info-icon">
                    <div class="inc-fleat-icon"><img src="{% static 'img/bathtub.svg' %}" width="13" alt="" /></div>1 Bath
                </div>
                <div class="listing-card-info-icon">
                    <div class="inc-fleat-icon"><img src="{% static 'img/move.svg' %}" width="13" alt="" /></div>800 sqft
                </div>
            </div>
        </div>
        
        <div class="listing-detail-footer">
            <div class="footer-first">
                <div class="foot-location"><img src="{% static 'img/pin.svg' %}" width="18" alt="" />210 Zirak Road, Canada</div>
            </div>
            <div class="footer-flex">
                <a href="/detail-propriete/" class="prt-view">View</a>
            </div>
        </div>
        
    </div>
</div>