<div class="sides_list_property">
    {% load static %}
    <div class="sides_list_property_thumb">
        <img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
    </div>
    <div class="sides_list_property_detail">
        <h4><a href="/detail-propriete/">Loss vengel New Apartment</a></h4>
        <span><i class="ti-location-pin"></i>Sans Fransico</span>
        <div class="lists_property_price">
            <div class="lists_property_types">
                <div class="property_types_vlix sale">For Sale</div>
            </div>
            <div class="lists_property_price_value">
                <h4>$4,240</h4>
            </div>
        </div>
    </div>
</div>