<div class="property-listing property-1">
    {% load static %}
    <div class="listing-img-wrapper">
        <a href="/detail-propriete/">
            <img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" />
        </a>
    </div>

    <span class="label-base for-rent-left">For Rent</span>

    <div class="listing-content">

        <div class="listing-detail-wrapper-box">
            <div class="listing-detail-wrapper">
                <div class="listing-short-detail">
                    <h4 class="listing-name"><a href="/detail-propriete/">Resort Valley Ocs</a></h4>
                </div>
                <div class="list-price">
                    <h6 class="listing-card-info-price">$7,000</h6>
                </div>
            </div>
        </div>

        <div class="price-features-wrapper">
            <div class="list-fx-features">
                <div class="listing-card-info-icon">
                    <div class="inc-fleat-icon"><img src="{% static 'img/bed.svg' %}" width="13" alt="" /></div>3 pièces
                </div>
                <div class="listing-card-info-icon">
                    <div class="inc-fleat-icon"><img src="{% static 'img/bathtub.svg' %}" width="13" alt="" /></div>1
                    douche
                </div>
                <div class="listing-card-info-icon">
                    <div class="inc-fleat-icon"><img src="{% static 'img/move.svg' %}" width="13" alt="" /></div>sanit
                </div>
            </div>
        </div>

        <div class="price-features-wrapper">
            <div class="list-fx-features profile-info-flex">
                <em class="mr-2">Publié par :</em>
                <figure>
                    <img src="https://wallsproperty.netlify.app/images/profile-blog.jpg" class="rounded-circle" alt="">
                </figure>
                <a href="/agent/" class="prt-link-detail">Brandon</a>
            </div>
        </div>

        <div class="listing-footer-wrapper">
            <div class="listing-locate">
                <span class="listing-location"><i class="ti-location-pin"></i>Quice Market,
                    Canada</span>
            </div>
            <div class="listing-detail-btn">
                <a href="/detail-propriete/" class="more-btn">View</a>
            </div>
        </div>

    </div>

</div>